*{
    overflow-y: hidden;
}

.option{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    
}

.option p {
    font-size: 5vw;
}

.optionoption{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
}

.optionoption a{
    color: black;
    font-size: 2vw;
    text-decoration: none;
    border: 1px solid black;
    padding: 1rem;
    border-radius: .5rem;
    transition: 1s;
}

.optionoption a:hover{
    background-color: rgba(0, 0, 0, 0.178);
}